
<p id="notice"><%= notice %><% unless notice.blank? %><br /><br /><% end %></p>

<%= render 'form' %>

<br />
<br />

<span class="menu">
  <%= link_to t("menu.list"), rooms_path %>
</span>

<br />
<br />
